body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0
}

.noName{
    margin: 0;
}

img {
    border: 0;
    display: block
}

ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

input, button{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input, button {
    *font-size: 100%
}

a {
    cursor: pointer
}

a:link {
    color: #666;
    text-decoration: none
}

a:visited {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #3f83a9;
    text-decoration: underline
}

a:active {
    color: #666;
    text-decoration: none
}

body {
    font: 12px Arial;
    background: #FFF;
    color: #666
}

#header-wrap {
    width: 100%;
    height: 65px;
    background: #eee url(../images/h.png) repeat-x;
    border-bottom: #d0d0d0 solid 1px
}

#header {
    width: 902px;
    margin: 0 auto
}

.logo {
    width: 182px;
    height: 65px;
    float: left
}

.logo a {
    display: block;
    width: 182px;
    height: 65px;
    background: transparent;
    overflow: hidden;
    line-height: 10em;
    background: url(../images/logo.png) no-repeat
}

.logo h1 {
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    line-height: 20px
}

#search {
    width: 330px;
    height: 28px;
    float: right;
    padding-top: 18px
}

#wd {
    width: 172px;
    height: 18px;
    padding: 5px 5px 5px 25px;
    font-size: 14px;
    border: medium none;
    line-height: 18px;
    background: url(../images/s.png) no-repeat #FFF
}

.button {
    height: 28px;
    font-size: 12px;
    _padding-top: 1px;
    width: 60px;
    line-height: 28px;
    text-align: center;
    background: url(../images/button.png) no-repeat;
    border: medium none;
    cursor: pointer;
    color: #FFF
}



#baidu {
    height: 28px;
    width: 60px;
    background: url(../images/button.png) no-repeat;
    border: medium none;
    cursor: pointer;
    color: #FFF
}

#search input {
    vertical-align: middle;
    background-color: #CCC
}

#content {
    width: 100%;
    padding: 20px 0;
    background: #f0f0f0 url(../images/bg.png) repeat
}

.site-wrap {
    width: 902px;
    margin: 0 auto;
    margin-bottom: 10px
}

.site-wrap .title {
    height: 35px;
    background: url(../images/site.png) no-repeat;
    line-height: 35px;
    padding-left: 20px;
    font-weight: bold
}

.site {
    border: #d0d0d0 solid 1px;
    background-color: #FFF
}

.site ul {
    height: 30px
}

.site ul li {
    width: 11%;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center
}

.site .bg {
    background-color: #f6f6f6
}

.dbx-clone {
    position: absolute;
    visibility: hidden
}

.dbx-clone, .dbx-clone .dbx-handle-cursor {
    cursor: move !important
}

.dbx-dummy {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important
}

.dbx-group, .dbx-box, .dbx-handle {
    position: relative;
    display: block
}

.dbx-box {
    background-color: #FFF
}

.dbx-group {
    clear: both;
    width: 902px;
    margin: 0 auto
}

* html .dbx-group {
    width: 902px;
    padding-bot\tom: 0
}

.dbx-handle {
    width: 900px;
    height: 35px;
    text-align: center;
    position: relative;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0
}

* html .dbx-handle {
    width: 900px;
    height: 35px;
    padding: 0
}

.dbx-handle .title {
    float: left;
    font-weight: bold;
    width: 80px;
    text-align: center;
    line-height: 35px
}

.dbx-handle ul {
    float: left;
    list-style: none;
    display: inline;
    padding: 0 2px;
    width: 792px;
    height: 35px;
    overflow: hidden;
}

.dbx-handle li {
    width: 99px;
    float: left;
    text-align: center;
    line-height: 35px
}

.dbx-handle-cursor {
    cursor: move
}

.dbx-toggle {
    display: block;
    width: 20px;
    height: 20px;
    border: 0;
    background: url(../images/t.png) no-repeat;
    position: absolute;
    top: 8px;
    right: 3px;
    border: 0
}

.dbx-toggle-closed {
    background-position: 0 0
}

.dbx-toggle-open {
    background-position: 0 -20px
}

.dbx-toggle-hilite-closed {
    background-position: -20px 0
}

.dbx-toggle-hilite-open {
    background-position: -20px -20px
}

.dbx-content {
    margin: 0;
    width: 900px;
    padding: 0;
    list-style-type: none;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0
}

* html .dbx-content {
    width: 900px
}

.dbx-content dl {
    display: inline;
    clear: both
}

.dbx-content dt {
    overflow: hidden;
    margin: 0 auto;
    clear: both;
    width: 880px;
    padding: 0 2px;
    border-top: 1px solid #e9e9e9
}

.dbx-content dl li {
    float: left;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    width: 110px;
    text-align: center;
    list-style-type: none
}

.dbx-box-closed .dbx-content {
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.dbx-box-closed .dbx-content * {
    display: none
}

.dbx-clone {
    opacity: .8;
    filter: alpha(opacity=80)
}

* html .dbx-tooltip {
    font-weight: normal !important
}

#footer-wrapper {
    width: 100%;
    background: #FFF;
    border-top: #d0d0d0 solid 1px
}

#footer {
    width: 902px;
    height: 50px;
    margin: 0 auto;
    color: #999
}

.footer-wrapper {
    width: 100%;
    background: #FFF;
    border-top: #d0d0d0 solid 1px
}

.footer {
    width: 902px;
    height: 50px;
    margin: 0 auto;
    color: #999
}

#footer a {
    color: #666
}

#footer .copyright {
    float: left;
    line-height: 28px
}

#footer span.copyright a {
    display: block;
    width: 80px;
    height: 28px;
    background: url(../images/copy.png) no-repeat;
    float: left;
    margin-right: 4px;
    text-align: center
}

#footer .top {
    float: right;
    line-height: 50px;
    color: #FFF
}

#footer .top a {
    display: block;
    width: 45px;
    height: 28px;
    background: url(../images/top.png) no-repeat
}

#nav_tab {
    width: 902px;
    margin: 0 auto
}

.nav_menubox {
    height: 35px;
    line-height: 35px;
    position: relative;
    background: url(../images/site.png) no-repeat;
    border-bottom: 1px solid #d0d0d0
}

.nav_menubox ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 6px;
    left: 0;
    height: 28px;
    text-align: center
}

.nav_menubox li {
    float: left;
    display: block;
    cursor: pointer;
    width: 74px;
    height: 28px;
    line-height: 28px;
    text-shadow: 0 1px 0 #FFF
}

.nav_menubox li.hover {
    background: url(../images/hover.png) bottom center no-repeat;
    font-weight: bold;
    width: 80px;
    height: 30px;
    line-height: 28px
}

.nav_contentbox {
    clear: both;
    margin-top: 0;
    border-top: 0;
    text-align: center;
    background-color: transparent
}
